<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fluorinefx">
      <section name="settings" type="FluorineFx.Configuration.XmlConfigurator, FluorineFx" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="simesstr" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=root;Database=simes;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings />
  <fluorinefx>
    <settings>
      <!--  Reflection optimizer provider="codedom|il" debug="true|false" -->
      <!-- <optimizer provider="codedom" debug="true"/> -->
      <!-- <wsdlGenerateProxyClasses>true</wsdlGenerateProxyClasses> -->
      <!-- <wsdlProxyNamespace>FluorineFx.Proxy</wsdlProxyNamespace> -->
      <!--  Time Zone Compensation ="none|auto" -->
      <timezoneCompensation>none</timezoneCompensation>
      <!--  Any value-type that is not explicitly initialized with a value will contain the default value for that object type -->
      <acceptNullValueTypes>true</acceptNullValueTypes>
      <!-- value="browse|access" -->
      <remotingServiceAttribute>access</remotingServiceAttribute>
      <!--
    <security>
      <login-command class="FluorineFx.Messaging.Security.GenericLoginCommand" server="asp.net"/>
    </security>
    -->
      <!--
    <cache>
      <cachedService timeout="30" slidingExpiration="false" type=".NET Full type name"/>
    </cache>
    -->
      <!--
    <importNamespaces>
      <add namespace="Namespace name to import" assembly=""/>
    </importNamespaces>
    -->
      <nullable>
        <type name="System.Int32" value="MinValue" />
        <type name="System.Double" value="MinValue" />
        <type name="System.DateTime" value="Now" />
        <type name="System.Guid" value="Empty" />
      </nullable>
      <!-- <httpCompress preferredAlgorithm="deflate|gzip" compressionLevel="high|normal|low" handleRequest="all|amf|none" /> -->
      <!--
    <httpCompress preferredAlgorithm="gzip" compressionLevel="high" handleRequest="all">
    <threshold>10240</threshold>
    <excludedMimeTypes>
      <add type="image/jpeg"/>
      <add type="image/png"/>
      <add type="image/gif" />
      <add type="application/zip" />
      <add type="application/x-zip-compressed" />
      <add type="application/x-gzip-compressed" />
      <add type="application/x-compressed" />
      <add type="application/octet-stream" />
      <add type="application/pdf" />
    </excludedMimeTypes>
    <excludedPaths>
      <add path="FluorineWebResource.axd"/>
      <add path="FluorineCodeGenerator.aspx"/>
      <add path="WebResource.axd"/>
      <add path="ScriptResource.axd"/>
    </excludedPaths>
    </httpCompress>
    -->
      <!-- <application-handler>FluorineFx.Messaging.Adapter.ApplicationAdapter</application-handler> -->
      <!--
    <sharedObjectService type="FluorineFx.Messaging.Rtmp.SO.SharedObjectService">
      <persistence type="FluorineFx.Messaging.Rtmp.Persistence.FileStore"/>
    </sharedObjectService>
    -->
      <fluorineContextFactory type="FluorineFx.Context.FluorineRtmpContextFactory" />
      <rtmpServer>
        <threadpool minWorkerThreads="0" maxWorkerThreads="25" idleTimeout="60000" />
      </rtmpServer>
    </settings>
  </fluorinefx>
  <system.web>
    <httpCookies httpOnlyCookies="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Mono.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738EB9F132ED756" />
        <add assembly="Npgsql, Version=2.2.7.0, Culture=neutral, PublicKeyToken=5D8B90D52F46FDA7" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms timeout="30" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <!--<add verb="*" path="*.ashx" type="System.Web.UI.SimpleHandlerFactory" />-->
      <!--<add  verb="GET" path="*.html" type="clientes.OwaspHandler,clientes" />-->
      <!--  <add  verb="*" path="Flex/assets/*" validate="false" type="clientes.NoAccessHandler"/>    -->
      <!--<add verb="*" path="archivos/*" validate="false" type="clientes.NoAccessHandler,clientes" />
      <add verb="*" path="out/*" validate="false" type="clientes.NoAccessHandler,clientes" />-->
    </httpHandlers>
  <!-- Modules for IIS 6.0 and IIS 7.0 Classic mode -->
    <httpModules>
      <add name="FluorineGateway" type="FluorineFx.FluorineGateway, FluorineFx" />
    </httpModules>
    <httpRuntime executionTimeout="3600" maxRequestLength="11264" enableVersionHeader="false" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>  
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.1" newVersion="1.0.10.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>